/*
  https://coolors.co/545f66-829399-d0f4ea-e8fcc2-b1cc74
*/

/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
}
a {
  color: #B1CC74;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 600px;
  margin: 0 auto;
}
h2, p {
  margin: 0;
}

/* Header and Footer */
header, footer {
  background-color: #545F66;
  color: whitesmoke;
}

header h1, header h2 {
  color: #E8FCC2;
}

/* Work Experience */
.work {
  background-color: #829399;
}

/* Education */
.education {
  background-color: #D0F4EA;
}
